.PCategory{
    position:absolute;
    top:240px;
    left:5px;
    width:215px;
    height:560px;
}
.CateButton{
display:block;
font-weight:bold;
color:#FFFFFF;
width:170px;
height:80px;
line-height:80px;
border-radius:5px;
padding:4px;
margin:4px;
text-align:center;
text-decoration:none;
font-size:x-large;
font-family:'微软雅黑','楷体';
transition: width 0.5s,height 0.5s;
}
.CateButton:link,.CateButton:visited
{
background-color:#5cacee;

}
.CateButton:hover,.CateButton:active
{
background-color:#8DEEEE;
width:200px;
height:85px;
}