@keyframes SHOWUP1{
    from{
        position:absolute;
        top:-140%;
        left:14%;
    }
    to{
        position:absolute;
        top:45%;
        left:14%;
    }
}
@-webkit-keyframes SHOWUP1{
    from{
        position:absolute;
        top:-140%;
        left:14%;
    }
    to{
        position:absolute;
        top:45%;
        left:14%;
    }
}
@keyframes SHOWUP2{
    from{
        position:absolute;
        top:-140%;
        left:38%;
    }
    to{
        position:absolute;
        top:45%;
        left:38%;
    }
}
@-webkit-keyframes SHOWUP2{
    from{
        position:absolute;
        top:-140%;
        left:38%;
    }
    to{
        position:absolute;
        top:45%;
        left:38%;
    }
}
@keyframes SHOWUP3{
    from{
        position:absolute;
        top:-140%;
        left:62%;
    }
    to{
        position:absolute;
        top:45%;
        left:62%;
    }
}
@-webkit-keyframes SHOWUP3{
    from{
        position:absolute;
        top:-140%;
        left:62%;
    }
    to{
        position:absolute;
        top:45%;
        left:62%;
    }
}
@keyframes SHOWUP{
    from{
        position:absolute;
        top:17%;
        left:40%;
        width:20%;
        height:10%;
        border-style:solid;
    border-width:2px;
    border-color:red;
    }
    to{
        height:30%;
        width:60%;
         position:absolute;
        top:7%;
        left:20%;
        border-style:solid;
    border-width:2px;
    border-color:red;
    }
}
@-webkit-keyframes SHOWUP{
    from{
        position:absolute;
        top:17%;
        left:40%;
        width:20%;
        height:10%;
        border-style:solid;
    border-width:2px;
    border-color:red;
    }
    to{
        height:30%;
        width:60%;
         position:absolute;
        top:7%;
        left:20%;
        border-style:solid;
    border-width:2px;
    border-color:red;
    }
}
body {
   background-color:white;
}

.div1{
    width:100%;
    height:100%;
}






.cmd1{
     position:absolute;
    top:45%;
    left:14%;
    animation:SHOWUP1 3s;
    -webkit-animation:SHOWUP1 3s;
    height:40%;
    width:24%;
    border-width:0em;
    background-color:white;
    opacity:0.7;
}
.cmd1:hover{
    opacity:1;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transition:transform 1s;
    -webkit-transition:all 1s;
}


.cmd2{
    animation:SHOWUP2 3s;
    -webkit-animation:SHOWUP2 3s;
    position:absolute;
    top:45%;
    left:38%;
    height:40%;
    width:24%;
    border-width:0em;
    background-color:white;
    opacity:0.7;
}
.cmd2:hover{
    opacity:1;
    image-rendering:optimizeQuality;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transition:all 1s;
    -webkit-transition:all 1s;
}


.cmd3{
    animation:SHOWUP3 3s;
    -webkit-animation:SHOWUP3 3s;
     position:absolute;
    top:45%;
    left:62%;
    height:40%;
    width:24%;
    border-width:0em;
    background-color:white;
    opacity:0.7;
}
.cmd3:hover{
     opacity:1;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transition:transform 1s;
    -webkit-transition:all 1s;
}
.imgTitle{
    animation:SHOWUP 3s;
    height:30%;
    width:60%;
    position:absolute;
    top:7%;
    left:20%;
    border-style:solid;
    border-width:2px;
    border-color:red;
}