body {
    background-color:white;
}
.pnlShoppingCart {
            width: 1322px;
            height: 1533px;
            position: absolute;
            top: 230px;
            left: 5px;
            z-index:50;
            border-width:0px;
        }
.ckbChooseAll{
    /*width: 40px;
	height: 40px;
	background: #ddd;
	margin: 20px 90px;
 
	border-radius: 100%;
	position: relative;
    top:20px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);*/
            position: absolute;
            top: 37px;
            left: 52px;
            z-index: 1;
            width: 60px;
            height:20px;
            font-family:'Microsoft YaHei';
            font-size:1em;
           font-weight:400;
           text-align:left;
           color:black;
        }
.ckbChooseAll:checked{
    color:red;
}
/*.lblChooseAll{
    display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
 
	background: #333;
 
	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}*/

 .cmdDelete{
            position: absolute;
            top: 33px;
            left: 200px;
            z-index: 1;
            width: 116px;
            border-width:2px;
            border-color:#5cacee;
            color:black;
            border-radius:8px;
            font-family:'Microsoft YaHei';
            font-size:1em;
            font-weight:400;
            background-color:white;
        }
  .cmdDelete:hover,.cmdSCBookDelete:hover{
      color:red;
      background-color:#5cacee;
      transition:all .3s;
      -webkit-transition:all .3s;
  }
  .cmdSCBookDelete{
            /*border-width:2px;
            border-color:#5cacee;
            color:black;
            border-radius:8px;
            font-family:'Microsoft YaHei';
            font-size:1em;
            font-weight:400;
            background-color:white;*/
            width: 90px;
            border-width:2px;
            border-color:#5cacee;
            color:black;
            border-radius:8px;
            font-family:'Microsoft YaHei';
            font-size:0.8em;
            font-weight:300;
            background-color:white;
  }

 .divSCD {
            position: relative;
            left: 66px;
            top: 93px;
            width: 1260px;
            height: 796px;
            overflow: auto;
        }
 .grvShoppingCart{
     height:761px;  
     width:1238px;
 }
 .icmdSCBookPic{
     margin:10px;
     width:140px;
     height:200px;
 }
 /*.icmdSCBookPic:hover{
     width:154px;
     height:220px;
     margin-left:3px;
     margin-right:3px;
     margin-top:0px;
     margin-bottom:0px;
     
 }*/
 .pnlSCBookPic{
     width:160px;
     height:220px;
 }
 .lcmdSCBookName{
     color:black;
     font-family:'Microsoft YaHei';
     font-size:1em;
     font-weight:300;
     width:250px;
 }
 .lcmdSCBookName:hover{
     color:blue;
     font-size:1.2em;
     font-weight:400;
     transition:all .4s;
     -webkit-transition:all .4s;


 }
 .lblSCBookPriceM{
     color:black;
     font-family:'Microsoft YaHei';
     font-size:1em;
     font-weight:300;
 }

 .lblSCBookPrice{
     width:60px;
     color:black;
     font-family:'Microsoft YaHei';
     font-size:1em;
     font-weight:300;

 }

.pnlSCBookNum {
    width: 90px;
    height: 27px;
    background-image: url('../Images/书籍数量.png');
    background-repeat:no-repeat;
    
}
 .cmdSCBookNumReduce,.cmdSCBookNumAdd{
     background-color:transparent;
     border-width:0px;
     width:20px;
     height:27px;
 }
  .cmdSCBookNumReduce:hover,.cmdSCBookNumAdd:hover{
      color:red;
  }
 .lblSCBookNum{
     width:40px;
     height:27px;
     border-width:0px;
     background-color:transparent;
     font-family:'Microsoft YaHei';
     font-size:0.8em;
     font-weight:300;
     text-align:left;
   
 }
 .imgBookRecommend {
            position: absolute;
            top: 901px;
            left: 97px;
            z-index: 1;
            width: 104px;
            height: 65px;
        }
  .pnlBookRecommend {
        border-radius:10px;
            height: 345px;
            position: absolute;
            top: 1070px;
            left: 15px;
            z-index: 1;
        }
  .grvBookRecommend {
            position: relative;
            top: 0px;
            left: 0px;
            width: 1320px;
            height: 342px;
              border-radius:10px;
              border-width:0px;
        }
  .icmdBookRecommend{
   margin-left:5px;
   margin-right:5px;
   margin-top:9px;
   margin-bottom:5px;
    width:200px;
    height:280px;
  
  }
  .icmdBookRecommend:hover{
      margin:0px;
      width:210px;
      height:294px;
      transition:all .5s;
      -webkit-transition:all .5s
  }
  .lcmdBookName{
      color:black;
      font-family:'Microsoft YaHei';
      font-size:1.2em;
      font-weight:500;
  }
  .lcmdBookName:hover{
      color:blue;
      font-size:1.5em;
      font-weight:700;
      transition:all .5s;
      -webkit-transition:all .5s
  }

  .lblAuthor{
      font-family:'Microsoft YaHei';
      font-size:1em;
      color:grey;
  }
   .lblSCBookUlike {
            border-radius:10px;
            position: absolute;
            top: 1000px;
            left: 15px;
            z-index: 1;
            width: 1302px;
            height: 35px;
            color:white;
            font-family:'Microsoft YaHei';
            background-color:#0094ff;
            font-size:1.5em;
            font-weight:700;
            padding-bottom:3px;
            padding-left:20px;
        }

